@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

html{
    height: 100%;
}

body{
    height: 100%;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin:10px 0 0 15px;
}

header{
    background-color: #FF0000;
    height: 50px;
    box-shadow: 0px 3px 5px #888888;
}
.site-title{
    display: inline-block;
    color: white;
    line-height: 3.2em;
    margin-left: 12px;
}
.title-limbo{
    display: inline-block;
    font-size:1.6em;
}
.title-lostandfound{
    display: inline-block;
    font-size:0.9em;
}
.homebutton{
    width: 40px;
    height: 50px;
    position: absolute;
    top: 4px;
    left: 188px;
}
.account-links{
    float: right;
    padding-top: 14px;
}
.account-link{
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    margin-right:15px;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.content-container{
    width: 100%;
    height: calc(100% - 150px);
    min-height: 750px;
    max-width: 100%;
    clear: both;
    margin: 0 auto;
}
.page-content{
    width: calc(100% - 250px);
    float: right;
}

.lf-links{
    padding-top: 20px;
    padding-bottom:20px;
    display: flex;
    justify-content: space-evenly;
}
.lf-link{
    background-color: #FF0000;
    text-align:center;
    height:40px;
    border: none;
    border-radius: 5px;
    vertical-align: middle;
    width: 40%;
    font-size: 1.2em;
    color: white;
    line-height: 40px;
    text-decoration: none;
}

.login-form{
    display: inline-block;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
}
.form-container{
    text-align: left;
    width: 100%;
}
.login-field{
    width: 200px;
}
.login-submit{
    width: 80px;
    height: 30px;
    box-sizing: content-box;
    margin-top: 10px;
}
.register-errors{
    color:red;
}

.sidebar{
    background-color: #4D4D4D;
    height: 100%;
    float: left;
    width: 250px;
}
.sidebar-title{
    background-color: #808080;
    color: #CCCCCC;
    padding: 5px 0 5px 12px;
}
.sidebar-title a{
    color: #CCCCCC;
}

.items-list{
    margin: 0 auto;
    width: 80%;
}
.items-list table{
    background-color: #CCCCCC;
    width: 100%;
    margin-bottom: 3px;
}
.items-list-right{
    text-align:right;
}
.list-options{
    margin: 0 auto 5px auto;
    width: 80%;
}
.page-numbers{
    margin: 5px auto 0 auto;
    width: 80%;
    text-align:center;
}

.thanks-login{
    position:relative;
    top:30px;
    left:145px;
    background-color: #FF0000;
    text-align:center;
    height:40px;
    border: none;
    border-radius: 5px;
    width: 40%;
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

footer{
    height: 100px;
    background-color: #808080;
    box-shadow: 0px -3px 5px #888888;
}
.footer-author{
    color: #E0E0E0;
    text-align: center;
    font-size: 0.8em;
    padding-top:60px;
}
.footer-author a{
    color: #E0E0E0;
}